<h2 class="page_title">私の事業を紹介します</h2>

当院は7対1看護配置をとる急性期病院です。
内科は消化器、循環器、呼吸器、糖尿病内分泌の4専門分野をカバーし、
外科、整形外科、泌尿器科等とともに当院の目指す良質な急性期医療を担っています。
2017年の1月に128列マルチスライス撮影の可能な最新式ＣＴが導入され、驚くほど短時間、
低被ばくで精度の高い検査が可能となり、当院の急性期医療水準の向上に貢献するものと期待しています。
がんの早期発見や転移の診断に有力なＰＥＴも2台設置しています。
当院の大きな特徴として、睡眠医療センター、眼科、形成外科、皮膚科、耳鼻科、歯科口腔外科などの多彩な診療科を備えている点があげられます。これらの診療科はもちろん疾患を治療しますが、大きく括って「ＱＯＬ改善に関わる診療科」とも言えると思います。各科の得意分野に関してはそれぞれの診療案内を参照してください。また、病気の早期発見や予防医療を担う検診センターの充実も図っております。その他、ストマ外来、自立排尿外来、フットケア外来など患者様のＱＯＬに貢献する試みも次々と始めております。

