<h1>ユーザー一覧</h1>
<table class="table1">
  <tr>
    <th scope="col" style="width:140px">名前</th>
    <th>メールアドレス</th>
    <th></th>
    <th></th>
  </tr>
<% @users.each do |user|%>
  <tr>
    <td><%= user.name %></td>
    <td style="width:20px"><%= user.email %></td>
    <td><%= button_to "削除", user_path(user.id) , method: :DELETE,data: { confirm: "本当に削除しますか？" },class:"btn btn-danger" %></td>
    <td><%= button_to "パスワードリセット", users_password_reset_path, { method: :post,params: {id: user.id},class:"btn btn-warning" } %></td>
  </tr>
<% end %>
</table>


