<% if @portal.present? %>
<<<<<<< HEAD
<h2 class="page_title">
     <%= @portal.title %></h2>
     <%=simple_format(@portal.content) %>
<% else %>
     <h4>トップページです</h4>
<% end %>
=======
      <h2 class="page_title"><%= @portal.title %></h2>
      <%=simple_format(@portal.content) %>
<% else %>
      トップページ
<% end %>
<hr class="line">
>>>>>>> 33fa1633e134c2010ce7077128c831f35b1d3701


    
