<div><button id="bodyclear" type="button">本文消去</button></div>
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
    aria-controls="collapseExample">
    本文にタグを挿入する
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
      <div class="link_groupe">
      <hr class="line">
       <label>リンク</label><br>
       <input  class="input_link" id="input" type="text" name="text" value=""><br>
       <label>タイトル</label><br>
       <input  class="input_link" id="input2" type="text" name="text2" value=""><br>
        <button id="linkbutton" type="button">リンクタグ追加</button>
      </div>
      <hr class="line">
      <div>
        <label>画像リンク</label><br>
        <input  class="input_link" id="input3" type="text" name="text2" value=""><br>
        <button id="imagelinkbutton" type="button">画像リンクタグ追加</button>
      </div>
  </div>
</div>

<script>
  $(function() {
    $( "#linkbutton" ).click( function ()
    {
      var input = $( '#input' ).val();
      var input2 = $( '#input2' ).val();
      var body = $( '#body' ).val();
      $( '#input' ).val( "" );
      $( '#input2' ).val( "" );
      if ( !input2 ) {
        input2 = "Link"
      }
      if ( body ) {
        link = '\n' + "<a href =" + "'" + input + "'" + ">" + input2 + "</a>"
      } else {
        link = "<a href =" + "'" + input + "'" + ">" + input2 + "</a>"
      }
      if ( !input ) {
        alert( 'Urlを入力して下さい' );
      } else {
        $( '#body' ).focus().val( body + link );
      }
    } );
    $("#imagelinkbutton").click(function() {
    var input3 = $( '#input3' ).val();
    var body = $('#body').val();
		$('#input3').val( "" );
    if(body) {
    link = '\n' + "<a href =" + "'" + input3 + "'" + "><img src='" + input3 + "' width='100%'></a>"
  } else {
    link = "<a href =" + "'" + input3 + "'" + "><img src='" + input3 + "' width='100%'></a>"
  }
    if(!input3){
    alert( 'Urlを入力して下さい' );
    } else {
    $( '#body' ).focus().val( body + link );
      }
	  });
    $("#bodyclear").click(function() {
    $( '#body' ).val( "" );
	  });
  }
);
</script>
