<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<div class="lead">完了一覧</div><%= link_to "仕掛", "index", {class: "btn btn-primary"} %> <%= link_to "新規", "new", {class: "btn btn-primary"} %><p> 
<%= render partial: "form" %>
<%= will_paginate @todos, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
