<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<%= will_paginate %><p class="back"><a href="#header"></a>
<p><b>Todo仕掛完了済 <%= link_to "仕掛", "index" %></b>
<%= render partial: "form" %>
<%= will_paginate %><p class="back"><a href="#header"></a>

