  .table1 {
  width: 98%;
  border-collapse: separate;
  border-spacing: 0; }
.table1 th:first-child {
  border-radius: 5px 1px 1px 1px; }
.table1 th:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690; }
.table1 th {
  text-align: center;
  color: white;
  background: linear-gradient(#829ebc, #225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
 /*width: 25%; */
  padding: 10px 0; }
.table1 td {
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top: none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  padding: 10px 5px; }
.table1 td:last-child {
  border-right: 1px solid #a8b7c5; }
.table1 tr:last-child td:first-child {
  border-radius: 0 0 0 5px; }
.table1 tr:last-child td:last-child {
  border-radius: 0 0 5px 0; }
.txt1{
  width: 35%;
  text-align:left;
}
.button1 {
    width:40px;
    height:15px;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 0 10px;
    color:#fff;
    background-color:#49a9d4;
    border-radius:5px;
}
.button2{
  width:90px;
  height:40px;
  vertical-align: middle;
}

.button3{
  display: inline-block;
  width:90px;
  height:40px;
  vertical-align: middle;
}

.link_groupe{
  margin-top:20px;
}

.input_link{
  width: 330px;
  padding: 5px;
  margin: 0 0 10px 0;
  height:25px;
  border: 1px solid #a8aabc;
}

.box1{
  display: inline-block;
}

