<!DOCTYPE HTML>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Todo管理統合システム</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="キーワード">
  <meta name="description" content="紹介文">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
<!--[if lt IE 9]>
  <!-- メイン -->
  <div id="main">

    <!-- ヘッダー -->
    <div id="header">
      <div id="header_inner">
        <div id="h_logo">
          <h2><a href="/">Todo管理統合システム<%#=cookies[:userid] %></a></h2>
        </div>
        <div id="h_info">

        </div>
      </div>

    </div>

    <div id="header-menu">
      <ul class="clearfix">
        <li class="home"><a href="/">ホーム<br><span class="sub">home</span></a></li>
        <li><a href="/todos/index">Todo<br><span class="sub">todo</span></a></li>
        <% if cookies[:userid].present? %>
        <li><a href="/todos/schedule">スケジュール<br><span class="sub">Schedule</span></a></li>
        <li><a href="/todos/aggregate">集計表<br><span class="sub">account</span></a></li>
        <li><a href="/todos/search">タイトル検索<br><span class="sub">serch</span></a></li>
        <li><a href="/todos/new">Todo新規<br><span class="sub">new</span></a></li>
        <% end %>
      </ul>
    </div>

    <!-- ヘッダー終わり -->


    <!-- コンテンツ -->

    <!-- メインコンテンツ -->

    <div id="container">
      <div id="contents">

        <!-- メイン画像 ここから
<div id="header-img">
<img src="/head_img.png" alt="head_img" class="main_photo">
</div>
-->
        <!-- メイン画像 ここまで -->

        <% flash.each do |name, msg| %>
        <% if name=="success" %>
        <div style="color:blue;">
          <% else %>
          <div style="color:red;">
            <% end %>
            <%= msg %>
          </div>
          <% end %>

          <div class="container">

          </div>
          <%= yield %>
          <p class="back"><a href="#header"><img class="scroll" src="/pagetop.png" alt="ページトップに戻る"></a></p>
          <br>
        </div>

        <!-- メインコンテンツ終わり -->

        <!-- サイドエリア -->

        <div id="menu">
          <div class="menu_top">
            <a href="http://titonet384.sakura.ne.jp/mail/mail.html"><img src="/contact_form_banner.jpg" alt="contact_form_banner"></a>
          </div>
          <div class="menulist">
            <ul>
              <li><a href="/">ホーム</a></li>
              <li><a href="/todos/index">Todo</a></li>
              <% if cookies[:userid].present? %>
                <li><a href="/todos/schedule">スケジュール</a></li>
                <li><a href="/todos/aggregate">集計表</a></li>
                <li><a href="/accounts/monthlychangesaccount">年度別出費集計表</a></li>
                <li><a href="/todos/search">タイトル検索</a></li>
                <li><a href="/todos/toexport">エクスポート</a></li>
                <li><a href="/login/logout">ログアウト</a></li>
                <li><a href="/user/edit">パスワードの変更</a></li>
                <li><a href="/user/new">新規会員登録</a></li>
                <li><a href="/blogs/new">ブログ新規</a></li>
              <% end %>
              <li><a href="/blogs/1">リンク</a></li>
              <li><a href="/blogs/">ブログ</a></li>
              <li><a href="http://titonet384.sakura.ne.jp/linkmake/">リンクタグ作成</a></li>
              <li><a href="http://titonet384.sakura.ne.jp/imagelink/">画像表示作成タグ</a></li>
              <li><a href="http://titonet384.sakura.ne.jp/uploads/pwd.php">画像アップロード</a></li>
              <li><a href="http://titonet384.sakura.ne.jp/mail/mail.html">お問い合わせ</a></li>
            </ul>
          </div>
          <div class="menu_btn_under">
            <a href="/blogs/" target="_blank"><img src="/ameblo_banner.jpg" alt="banner"></a>
          </div>

          <!-- PC向け・非表示 -->

          <!-- 非表示ここまで -->
        </div>

        <!-- サイドエリア終わり -->
      </div>

      <!-- コンテンツ終わり -->

      <!-- フッター -->
      <div id="footer">
        <br>
        <br>
        Copyright (C) 2020 T.Ito All Rights Reserved.　design by <a href="http://tempnate.com/" target="_blank">tempnate</a>
      </div>

      <!-- フッター終わり -->
    </div>

    <!-- メイン終わり -->
</body>

</html>
