<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>としのページ</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="キーワード">
<meta name="description" content="紹介文">
<title>Mysite</title>
<%#= csrf_meta_tags %>
<%#= csp_meta_tag %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<script src="js/css3-mediaqueries.js"></script>
<![endif]-->


</head>

<body>

<!-- メイン -->

<div id="main">


<!-- ヘッダー -->

<div id="header">


  <div id="header_inner">
   <div id="h_logo"><h2><a href="/">としのホームページ</a></h2></div>
   <div id="h_info">

</div>
  </div>

</div>

<div id="header-menu">
   <ul class="clearfix">
    <li class="home"><a href="/">ホーム<br><span class="sub">home</span></a></li>
    <li><a href="/blogs/">ブログ<br><span class="sub">blog</span></a></li>
    <li><a href="/blogs/4">リンク<br><span class="sub">link</span></a></li>
    <li><a href="contact.html">お問い合わせ<br><span class="sub">contact</span></a></li>
    <li><a href="/blogs/new">ブログ新規<br><span class="sub">blog new</span></a></li>
    <li><a href="/portals/2/edit">トップ修正<br><span class="sub">edit</span></a></li>
    </ul>
</div>




<!-- ヘッダー終わり -->


<!-- コンテンツ -->

<!-- メインコンテンツ -->

<div id="container">
  <div id="contents">




<!-- メイン画像 ここから -->
<div id="header-img">
<img src="/head_img.png" alt="head_img" class="main_photo">
</div>
<!-- メイン画像 ここまで -->
<br><%= yield %></br>
<hr class="line">

<p class="back"><a href="#header"><img class="scroll" src="/pagetop.png" alt="ページトップに戻る"></a></p>

<br>


  </div>

<!-- メインコンテンツ終わり -->

<!-- サイドエリア -->

  <div id="menu">




<div class="menu_top">
<a href="contact.html"><img src="/contact_form_banner.jpg" alt="contact_form_banner"></a>
</div>




<div class="menulist">
   <h3>サイトメニュー</h3>
<ul>
<li><a href="/">ホーム</a></li>
<li><a href="/blogs/">ブログ</a></li>
<li><a href="/blogs/4">リンク</a></li>
<li><a href="contact.html">お問い合わせ</a></li>
</ul>
</div>





<div class="menulist">
   <h3>コンテンツ・メニュー</h3>
<ul>
<li><a href="#">基礎知識1</a></li>
<li><a href="#">基礎知識2</a></li>
<li><a href="#">基礎知識3</a></li>
</ul>
</div>





<div class="menu_free">
   <h3>Information</h3>
<p><img src="img/side_info.png" alt=""><br>
<span class="brown_b">【テンプネート製作所】</span><br>
<img src="img/icon.gif" alt=""> <span class="red_b">TEL.06-12345-6789</span><br>
天賦市天賦の町1-10-10
</p>
</div>






<div class="menu_btn_under">
<a href="#" target="_blank"><img src="/ameblo_banner.jpg" alt="banner"></a>
</div>





<!-- PC向け・非表示 -->
<div class="menu_back">
<p class="back"><a href="#header"><img class="scroll" src="img/pagetop.png" alt="ページトップに戻る"></a></p>
</div>
<!-- 非表示ここまで -->


  </div>

<!-- サイドエリア終わり -->

</div>

<!-- コンテンツ終わり -->

<!-- フッター -->

<div id="footer">
　|　<a href="index.html">ホーム</a>　|　<a href="goaisatu.html">ごあいさつ</a>　|　<a href="service.html">サービス情報</a>　|　<a href="profile.html">会社情報</a>　|　<a href="faq.html">よくあるご質問</a>　|　<a href="contact.html">お問い合わせ</a>　|　<a href="link.html">リンク</a>　|　<a href="sitemap.html">サイトマップ</a>　|　
<br>
<br>
Copyright (C) 20xx SITE NAME All Rights Reserved.　design by <a href="http://tempnate.com/" target="_blank">tempnate</a>
</div>

<!-- フッター終わり -->

</div>

<!-- メイン終わり -->

</body>
</html>
