<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>フリーランスエンジニアを目指すページ</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="キーワード">
<meta name="description" content="紹介文">
<title>Mysite</title>
<%#= csrf_meta_tags %>
<%#= csp_meta_tag %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<script src="js/css3-mediaqueries.js"></script>
<![endif]-->


</head>

<body>

<!-- メイン -->

<div id="main">


<!-- ヘッダー -->

<div id="header">


  <div id="header_inner">
   <div id="h_logo"><h2><a href="/">フリーランスエンジニアを目指すページ</a></h2></div>
   <div id="h_info">

</div>
  </div>

</div>

<div id="header-menu">
   <ul class="clearfix">
    <li class="home"><a href="/">ホーム<br><span class="sub">home</span></a></li>
    <li><a href="/blogs/">ブログ<br><span class="sub">blog</span></a></li>
    <li><a href="/blogs/4">リンク<br><span class="sub">link</span></a></li>
    <li><a href="http://titonet384.sakura.ne.jp/linkmake/">リンク作成<br><span class="sub">linkmake</span></a></li>
    <% if cookies[:passwd].present? %>
        <li><a href="http://titonet384.sakura.ne.jp/linkmake/">リンク作成<br><span class="sub">linkmake</span></a></li></li>
        <li><a href="/blogs/new">記事新規<br><span class="sub">blog new</span></a></li>
        <li><a href="/portals/2/edit">紹介修正<br><span class="sub">edit</span></a></li>
    <% end %>    
    </ul>
</div>




<!-- ヘッダー終わり -->


<!-- コンテンツ -->

<!-- メインコンテンツ -->

<div id="container">
  <div id="contents">




<!-- メイン画像 ここから -->
<div id="header-img">
<img src="/head_img.png" alt="head_img" class="main_photo">
</div>
<!-- メイン画像 ここまで -->
<br><%= yield %></br>
<p class="back"><a href="#header"><img class="scroll" src="/pagetop.png" alt="ページトップに戻る"></a></p>

<br>


  </div>

<!-- メインコンテンツ終わり -->

<!-- サイドエリア -->

  <div id="menu">




<div class="menu_top">
<a href="http://titonet384.sakura.ne.jp/mail/mail.html"><img src="/contact_form_banner.jpg" alt="contact_form_banner"></a>
</div>




<div class="menulist">
   <h3>サイトメニュー</h3>
<ul>
<li><a href="/">ホーム</a></li>
<li><a href="/blogs/">ブログ</a></li>
<li><a href="/blogs/4">リンク</a></li>
<li><a href="http://titonet384.sakura.ne.jp/mail/mail.html">お問い合わせ</a></li>
</ul>
</div>

<div class="menulist">
   <h3>作成ツール</h3>
<ul>
<li><a href="http://titonet384.sakura.ne.jp/linkmake/">リンクタグ作成</a></li>
<li><a href="http://titonet384.sakura.ne.jp/imagelink/">画像表示作成タグ</a></li>
<li><a href="http://titonet384.sakura.ne.jp/uploads/pwd.php">画像アップロード</a></li>
</ul>
</div>








<div class="menu_btn_under">
<a href="/blogs/" target="_blank"><img src="/ameblo_banner.jpg" alt="banner"></a>
</div>





<!-- PC向け・非表示 -->

<!-- 非表示ここまで -->


  </div>

<!-- サイドエリア終わり -->

</div>

<!-- コンテンツ終わり -->

<!-- フッター -->

<div id="footer">
<br>
<br>
Copyright (C) 2019  All Rights Reserved.　design by <a href="http://tempnate.com/" target="_blank">tempnate</a>
</div>

<!-- フッター終わり -->

</div>

<!-- メイン終わり -->

</body>
</html>
